outputs/checkpoints/
__pycacahe__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.venv/

outputs/
output-*.log
output.log
run_*.sh
logs/
htmlcov/
quantum_kg.egg-info/

.pytest_cache/
.ipynb_checkpoints/
.DS_Store
*.ipynb
.claude/
.coverage
*.pyc
*.pkl

YAGO3-10.tar